
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ff0000;
    position: fixed;
}

.conteinerCadastroProdutos h2{
    margin-left: 1rem;
    margin-bottom: 15px;
    word-wrap: break-word;  /* Garante que as palavras longas sejam quebradas */
}

.conteinerCadastroProdutos #lista-produtos-modal{
    width: 80%; /* 80% da largura da tela */
    height: 1000px; /* Altura fixa de 300px */
    display: inline-block;
    
    align-content: center;
    /* border: 1px solid black; */
    max-height: 1px;

    overflow-y: auto; /* Adiciona rolagem vertical caso o conteúdo ultrapasse a altura */
    max-height: 150px; /* Define uma altura máxima para a div */
}
#lista-produtos-modal {
    display: block;
    margin: auto;
    word-wrap: break-word;  /* Quebra palavras longas */
    max-height: 500px; /* Define uma altura máxima para a div */
    overflow-y: auto; /* Adiciona rolagem vertical caso o conteúdo ultrapasse a altura */

}

.pesquisa{
    display: grid;
    width: 60vw;
}

#pesquisa{
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 2.7vh;
    background-color: #ffffff;
    color: black;
    margin-bottom: 20px;
    padding-left: 10px;

}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sidebar{
    top: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #F21D1D;
    border: 0px;
    width: 17vw;
    position: relative;
    z-index: 0;
}
.sidebar-header{
    width: 100%;
}

.sidebar button{
    width: 160px;
    height: 40px;
    padding: 0px;
    border: 0;
    border-radius: 50px;
     margin-bottom: 10px; 
    font-family: inherit;
    color: inherit;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    background: transparent;
    cursor: pointer;
    color: #ffffff;

}

.sidebar button:hover{
    border-radius: 50px;
    background: #690101;
    color: #ff0000;
}
.sidebar .botao-fundo button:hover{
    border-radius: 50px;
    background: #ff0000;
    color: #ffffff;
}
.logo-elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
}
.line{
    width: 170px;

}
.logo-solar{
    width: 180px;
    padding-left: 12px;
}
.botao-cima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
}
 .botao-fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.botao-fundo button{
    margin-top: 10px;
}
#cor{
    background: #690101;
    width: 16vw;
    height: 200px;
}

/* main */
main{
    word-wrap: break-word;  /* Garante que as palavras longas sejam quebradas */
    display: flex;
    border: 0px solid white; 
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    border-radius: 24px 0px 0px 20px;
    position: relative;
    left: -2.0vw;
    z-index: 1;
}

/* CRIEI UMA DIV PARA COLOCAR A TABELA NO MEIO */
.conteiner-tabela{
    display: grid;
    position: fixed;
    margin-left: 150px ;
}

/* Container da tabela com altura e rolagem */
.tabela-conteiner {
    max-height: 300px; /* Define a altura máxima da tabela */
    margin-top: 20px;  /* Ajuste para algum espaçamento se necessário */
}

/* Estilos da barra de rolagem personalizada */
.tabela-conteiner::-webkit-scrollbar {
    width: 9px;
}

.tabela-conteiner::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 4px;
}

.tabela-conteiner::-webkit-scrollbar-thumb:hover {
    background-color: #7e0404;
}
/* fim da div TABELA */

/* .cabecalho-crud{
display: flex;
background-color: #F21D1D;
height: 5vh;
width: 58.8vw;
color: #ffffff;
justify-content: space-between;
align-items: center;
border-radius: 10px 10px 0px 0px;
padding: 8px;
margin-left: 20px;

} */
.botao-cabecalho{
    display: grid;
    width: 60vw;
    justify-items: end;
    margin-left: 179px;
    margin-top: 100px;

}
/* .adicionar img{
    height: 3vh;
} */
table {
    margin-left: 20px;
    width: 60vw;
    border-collapse: collapse;
    border-radius: 5px;
    margin-top: 5px;
}
thead{
    border: 1px solid #e6e5e5; 
    border-radius: 5px 5px 0 0; 
    overflow: hidden;

    /* alterei a cor e a espessura da borda  */
}
th, td {
    border: 1px solid #e6e5e5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden; 
    text-align: center;
    padding: 10px;
}
thead th {
    border: none; 
    padding: 5px;
    background-color: #ffffff;
}
tbody{
    border: 1px solid #e6e5e5;  
    border-top: none; 
    scroll-behavior: auto;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* nao ta arredondando */
}
thead th, tbody td {
    border: none; 
    padding: 5px;
    background-color: #ffffff;
}
tbody td{
    border-bottom: 2px solid #ccc; 
    height: 1vh;
}
.opcoes{
    border: none;
    background: white;
    cursor: pointer;
}

/* BOTOES DE EXCLUIR E EDITAR */
.edit{
    /* background: rgb(255, 238, 0);
    border: 0px;
    padding: 15px;
    border-radius: 5px; */
    cursor: pointer;
    height: 25px;
}
.edit:hover{
    opacity: 70%;

}
.exclude{
    /* background: rgb(255, 0, 0); */
    /* border: 0px; */
    /* padding: 15px; */
    /* border-radius: 5px; */
    cursor: pointer;
    height: 27px;

}
.exclude:hover{
   opacity: 70%;
}

/* FIM DOS BOTOES  */
/* 
#pesquisa{
    margin-left:px;
} */


/* modal  */

.open-modal {
    height: 40px;
    width: 160px;
    text-align: center;
    background: rgb(211, 12, 12);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s ;
    opacity: 0.9;
    position: relative;
    top: 200px;
}
.open-modal:hover{
    opacity: 1;
}
#close-modal{
    background: none;
    border: solid 1px  rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}
#fade, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal{
    display: top;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
    max-width: 90%;
    min-width: 45%;
    height: 100%;

    border: 0.5rem;
    background-color: #ffffff;
    border-radius: 3px;
    
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: red;
    min-width: 45%;
    max-height: auto;
    padding: 5px;
    
}
.modal-header img{
    margin-left: 2px;
}
.modal-footer {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    padding: 15px;
}
.modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
    padding: 10px;
}

.modal-body form input {
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-bottom: 5px;
}
#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}
#modal-hide{
    top: 0;
}
#logo-cliente{
    width: 200px;
}
/*lista de produtos - modal*/
.produtoModal {
    width: 200px;
    display: auto flex;
    padding: 10px;
    margin-top: 10px;

}
.button-green{
    background: rgb(80, 209, 80);
    height: 5vh;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    cursor: pointer;
}
.button-green:hover{
    background: rgb(39, 172, 39);
}
.button-red{
    background: red;
    height: 5vh;
    border-radius: 5px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.486);
    margin-left: 7px;
    cursor: pointer;
}
.button-red:hover{
    background: rgb(236, 19, 19);
}




/* style.css 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}
*/

h1 {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produto {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s;
}

.produto:hover {
    transform: scale(1.1);
}

.inputs {
    margin-top: 20px;
}

.input-field {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos básicos do modal */
.modal {
    display: none; /* Modal fica escondido inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo translúcida */
    z-index: 1000; /* Fica sobreposto ao conteúdo */
}

.modal-conteudo {
    display: block;

    background-color: white;
    margin: 10% auto;
    padding: 2px;
    border-radius: 5px;
    width: 1000%;
    max-width: 100%;
    max-height: 100%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

#imagens-produto img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;

}

ul li {
    margin-bottom: 10px;
}

/* Estilos para a Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Estilos do botão de fechamento */
#fechar-modal-gerenciar-produtos,
#fechar-editar-modal {
    background-color: #f44336;
    color: white;
}
